# Dados
## HDI - Human Development Index
## High Technology Exports - Percent of manufactured exports
## Individuals using the Internet - Percent of population

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

In [3]:
#Leitura dos arquivos em Excel
HDI = pd.read_excel('hdi_human_development_index.xlsx')
tech = pd.read_excel('high_technology_exports_percent_of_manufactured_exports.xlsx')
internet = pd.read_excel('internet_users.xlsx')

In [4]:
#Mudança de index
HDI_idx = HDI.set_index('Country')
tech_idx = tech.set_index('Country')
internet_idx = internet.set_index('Country')

In [5]:
#Pegando apenas os anos releventes
anos = np.arange(2001, 2016)
HDI_cut = HDI_idx.loc[:, anos]
tech_cut = tech_idx.loc[:, anos]
internet_cut = internet_idx.loc[:, anos]

In [6]:
#Renomeando as colunas
HDI_r = HDI_cut.rename(index=str, columns=lambda column: "IDH em " + str(column))
tech_r = tech_cut.rename(index=str, columns=lambda column: "Exportação de tecnologia em " + str(column))
internet_r = internet_cut.rename(index=str, columns=lambda column: "Usuários de internet em " + str(column))

In [7]:
#Juntando os data frames
Y = HDI_r.join(tech_r)
junto = Y.join(internet_r)

In [8]:
#Removendo os NAN
final = junto.dropna(axis=0)

In [9]:
#Salvando 
final.to_excel("Data.xlsx")
final.to_csv("Data.csv")

In [13]:
final[(final["IDH em 2015"] < 0.5) & (final["Exportação de tecnologia em 2015"] > 10)]

,IDH em 2001,IDH em 2002,IDH em 2003,IDH em 2004,IDH em 2005,IDH em 2006,IDH em 2007,IDH em 2008,IDH em 2009,IDH em 2010,...,Usuários de internet em 2006,Usuários de internet em 2007,Usuários de internet em 2008,Usuários de internet em 2009,Usuários de internet em 2010,Usuários de internet em 2011,Usuários de internet em 2012,Usuários de internet em 2013,Usuários de internet em 2014,Usuários de internet em 2015
Country,,,,,,,,,,,,,,,,,,,,,
Mozambique,0.311,0.318,0.332,0.341,0.353,0.360,0.372,0.382,0.390,0.397,...,0.843,0.91,1.56,2.68,4.17,4.3,6.00,7.29,9.24,16.90
Niger,0.261,0.266,0.270,0.278,0.286,0.293,0.298,0.307,0.312,0.323,...,0.294,0.39,0.70,0.76,0.83,1.3,1.41,1.70,1.95,2.48